.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}
.header-logo{
    height:70px;
    object-fit: contain;
    margin-left: 20px;
    align-items: auto;
}
.header-input{
    display:flex;
    align-items: center;
    width: 40%;
    border: 1px solid black;
    padding:  5px 5px;
    border-radius: 100px;


    

}
.header-mic{
    display:flex;
    align-items: center;
}
.header-icons{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 38px;
}
.menu-icon{
    margin-bottom: 25px;
}
.header-icon{
    margin-right: 15px;
}


.header-input > input {
    flex: 1;
    border: none;
}
.header-inputButton{
    width: 50px !important;
    background-color:  #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}
.header-left{
    /* justify-content: space-evenly; */
    display: flex;
     align-items: center;
    /* padding: 0 30px; */
   
}
 