.recommendedvideos{
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}
.recommendedvideos >h4 {
    margin-left: 10px;
    margin-bottom: 0px;
}
.recommendedvideos-videos{
    display: flex;
    /* flex-wrap: wrap; */
    align-items:space-between;
    justify-content: space-between;
   
}
.video-row{
    display: flex;
   
}
.card{
    width: 100px;
    justify-content: space-between;
    padding: 3px;
    align-items: space-between;
  
}


@media(max-width: 780px){
    .recommendedvideos{
        width: 50%;
        padding: 5px;
        margin-left: 5px;
    }
    /* .post-icons p{
        margin-left: 5px;
    }
    .post-icons{
        padding: 5px;
        
    } */
}